<html ng-app="First">

<script src="angular.js"> </script>

<script>
  var M = angular.module("First",[]);
  M.controller("MyCtrl", function($scope) {
    var Rec = [
      {regno:1,name:"Sam",marks:95},
      {regno:2,name:"Adam",marks:50},
      {regno:3,name:"Bob",marks:100},
      {regno:4,name:"Charlie",marks:120},
      {regno:5,name:"Dan",marks:70},
      {regno:6,name:"Euan",marks:10},
      {regno:7,name:"Frank",marks:55},
      {regno:8,name:"Gerald",marks:115},
      {regno:9,name:"Hector",marks:145},
      {regno:10,name:"John",marks:65}
    ]
    $scope.Record = Rec;
    $scope.field = "marks";
    $scope.order = false;
  });
</script>

<div ng-controller="MyCtrl">
<table border="1">

  <tr>
    <td> <input ng-model="srch.regno"> </td>
    <td> <input ng-model="srch.name"> </td>
    <td> <input ng-model="srch.marks"> </td>
  </tr>
  <tr>
    <td ng-click="field='regno';order=!order"> Reg Number
       <span ng-if = "field=='regno' && order==false"> ↑ </span>
       <span ng-if = "field=='regno' && order==true"> ↓ </span>
    </td>
    <td ng-click="field='name';order=!order;"> Name
      <span ng-if = "field=='name' && order==false"> ↑ </span>
      <span ng-if = "field=='name' && order==true"> ↓ </span>
    </td>
    <td ng-click="field='marks';order=!order"> Marks
      <span ng-if = "field=='marks' && order==false"> ↑ </span>
      <span ng-if = "field=='marks' && order==true"> ↓ </span>
    </td>
    <td ng-click="field='marks';order=!order"> Percentage
    </td>
    <td ng-click="field='marks';order=!order"> Result
    </td>
  </tr>

  <tr ng-repeat="D in Record | filter:srch | orderBy:field:order">
    <B>
    <td> {{D.regno}} </td>
    <td> {{D.name}} </td>
    <td> {{D.marks}} </td>
    <td> {{D.marks*100/150 | number:2}}% </td>
    <td> <B ng-if = "D.marks>90">
          <font color="green"> Pass </font>
        </B>
      <B ng-if = "D.marks<90">
        <font color="red"> Fail </font>
      </B>
    </td>

    </B>
  </tr>



</table>
</div>
</html>
